<p id="notice"><%= notice %></p>

<p>
  <strong>Namestring:</strong>
  <%= @final.namestring %>
</p>

<p>
  <strong>Email:</strong>
  <%= @final.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @final.string %>
</p>

<p>
  <strong>Suff:</strong>
  <%= @final.suff %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @final.integer %>
</p>

<%= link_to 'Edit', edit_final_path(@final) %> |
<%= link_to 'Back', finals_path %>
